.section {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 2.75rem;
}
/* left side */
.left {
	position: relative;
}
.absoluteImage {
	position: absolute;
	top: 100px;
	right: 63px;
	transition: 1s;
}
.hidden {
	opacity: 0;
}

/* right side */

.right {
	width: 60vw;
	max-width: 350px;
}
.logFace {
	margin: 0.8125rem;
	background: none;
}
.forgotPassword {
	margin-top: 0.875rem;
	margin-bottom: 1.125rem;
	text-align: center;
	font-size: 0.75rem;
}
.forgotPassword:visited {
	color: inherit;
}
.SignUp {
	font-size: 0.875rem;
	font-weight: 400;
	padding: 1.5rem;
	text-align: center;
}
.SignUp a {
	font-weight: 700;
	color: var(--blue);
}
.SignUp a:visited {
	color: var(--blue);
}
@media screen and (max-width: 860px) {
	.left {
		display: none;
	}
}
