.container {
	max-width: 260px;
	position: relative;
	margin-bottom: 6px;
	cursor: text;
}
.input {
	cursor: text;
	padding: 9.5px;
	overflow: hidden;
	background-color: var(--body);
	width: 100%;
	outline: none;
	border: 1px solid var(--darkBody);
	border-radius: var(--borderRadius);
}
.label {
	cursor: text;
	position: absolute;
	color: var(--darkerBody);
	font-size: 0.75rem;
	top: 11px;
	bottom: 0;
	left: 10px;
}
