.container {
	width: 100%;
	height: 100%;
}
.innerContainer {
	position: relative;
}
.showBtn {
	position: absolute;
	background: rgb(250, 250, 250);
	font-size: 0.875rem;
	font-weight: 500;
	border: none;
	outline: none;
	padding: 0 5px;
	right: 5px;
	top: 1px;
	bottom: 1px;
}
