.feedMain {
	padding-top: var(--headerHeight);
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--body);
}
.loader svg {
	margin-top: calc(50vh - 28px);
	margin-left: calc(50vw - 28px);
}
.mainContent {
	width: 100%;
	max-width: 600px;
}
.newStories {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 14px;
	font-size: 12px;
}
.newStories img {
	border-radius: 50%;
	object-fit: cover;
	width: 56px;
	height: 56px;
	margin: 4px;
}
.stories {
	display: flex;
	padding: 16px;
	background-color: var(--white);
	border: 1px solid var(--darkBody);
}
.storiesContainer,
.feedPosts {
	border-radius: var(--borderRadius);
	margin: 30px auto 24px auto;
	width: 100%;
	max-width: 600px;
	overflow: hidden;
}
.suggestions {
	display: none;
}
.popupScreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}
.popupForm {
	width: 90vw;
	max-width: 400px;
	min-height: 30vh;
	background-color: var(--white);
	border-radius: 12px;
	padding: 25px;
	margin: 30vh auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
@media screen and (min-width: 985px) {
	.feedMain {
		display: flex;
		justify-content: center;
	}
	.suggestions {
		margin-top: 30px;
		margin-left: 30px;
		display: block;
		width: 295px;
	}
}
@media screen and (max-width: 600px) {
	.storiesContainer,
	.feedPosts {
		border-left: none;
		border-right: none;
	}
}
