.feedMain {
	padding-top: var(--headerHeight);
}
.newStories {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 14px;
	font-size: 12px;
}
.newStories img {
	border-radius: 50%;
	width: 56px;
	height: 56px;
	margin: 4px;
}
.stories {
	display: flex;
	padding: 16px;
}
.storiesContainer,
.feedPosts {
	background-color: var(--white);
	border-radius: var(--borderRadius);
	border: 1px solid var(--darkBody);
	margin: 30px auto 24px auto;
	max-width: 600px;
	overflow: hidden;
}
.suggestions {
	display: none;
}
@media screen and (min-width: 985px) {
	.feedMain {
		display: flex;
		justify-content: center;
	}
	.suggestions {
		margin-top: 30px;
		margin-left: 30px;
		display: block;
		width: 295px;
	}
}
@media screen and (max-width: 600px) {
	.storiesContainer,
	.feedPosts {
		border-left: none;
		border-right: none;
	}
}
